<ion-tabs>
    <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="md-home"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Stats" tabIcon="md-stats"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Achievements" tabIcon="md-pint"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="Profile" tabIcon="md-contact"></ion-tab>
</ion-tabs>