<ion-header>
    <ion-navbar>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h2>Drink 'em all!</h2>
    <ion-list>
        <ion-item>
            <ion-thumbnail item-start>
                <ion-icon class="active" style="color:rgb(204, 42, 54)" name="ios-appstore"></ion-icon>
            </ion-thumbnail>
            <h3>Memer</h3>
            <p>Get the App!</p>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
            <ion-thumbnail item-start>
                <ion-icon class="active" style="color:rgb(204, 42, 54)" name="ios-glasses"></ion-icon>
            </ion-thumbnail>
            <h3>It's dangerous to go alone!</h3>
            <p>Registered your first Drink</p>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
            <ion-thumbnail item-start>
                <ion-icon name="ios-happy"></ion-icon>
            </ion-thumbnail>
            <h3>True MVP</h3>
            <p>Gave the app 5 Stars</p>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
            <ion-thumbnail item-start>
                <ion-icon name="ios-sync"></ion-icon>
            </ion-thumbnail>
            <h3>Online famous</h3>
            <p>You shared your stats
                <br> online</p>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
            <ion-thumbnail item-start>
                <ion-icon class="active" style="color:rgb(204, 42, 54) !important;" name="md-ribbon"></ion-icon>
            </ion-thumbnail>
            <h3>Getting started</h3>
            <p>Drank 5 litres of Coffein</p>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
            <ion-thumbnail item-start>
                <ion-icon name="md-pie"></ion-icon>
            </ion-thumbnail>
            <h3>I'm all about the numbers</h3>
            <p>Check your Stats 10 days
                <br> in a row</p>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
            <ion-thumbnail item-start>
                <ion-icon name="md-flask"></ion-icon>
            </ion-thumbnail>
            <h3>For Science</h3>
            <p>Drink coffeine at 4:20</p>
        </ion-item>
    </ion-list>



</ion-content>