page-achievements {
    ion-list {
        margin: 0px !important;
        margin-bottom: -1px !important;
        ion-item {
            ion-thumbnail {
                ion-icon {
                    font: {
                        size: 48px;
                    }
                }
            }
            h3 {
                font: {
                    family: "Arial", sans-serife;
                }
            }
            p,
            h3 {
                text-transform: capitalize;
            }
        }
    }
    active {
        color: rgb(204, 42, 54) !important;
    }
}