<ion-header>
  <ion-navbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>{{usrname}}</h2>
  <ion-list>

    <ion-item>
      <p>Body weight: <b>{{weight}} kg</b>.</p> <button ion-button item-right (click)='changeBodyMass();'>Edit</button>
    </ion-item>

    <ion-item>
      <p>Pregnant: <b>{{(pregrant?"Yes":"No")}}</b>.</p> <button ion-button item-right (click)='changePregnacy();'>Edit</button>
    </ion-item>

    <ion-item>
      <p>Smoking: <b>{{(smoking?"Yes":"No")}}</b>.</p> <button ion-button item-right (click)='changeSmoking();'>Edit</button>
    </ion-item>

    <ion-item>
      <p>Height: <b>{{height}} Meters</b>.</p> <button ion-button item-right (click)='changeHeight();'>Edit</button>
    </ion-item>

    <ion-item>
      <p>Coffeine Limit: <b>{{miligrams}} mg</b>.</p> <button ion-button item-right (click)='changeMilligrams();'>Edit</button>
    </ion-item>

  </ion-list>
</ion-content>
