<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Let's drink Mate!</h2>

  <ion-list>
    <form (ngSubmit)="dosisForm()">
    <ion-item>
      <ion-label>What did you drink?</ion-label>
      <ion-select name="bla" [(ngModel)]="drink" (ionChange)="selectdrink();">
        <ion-option value="clubmate">Club Mate</ion-option>
        <ion-option value="floramate">Flora Mate</ion-option>
        <ion-option value="kaffee">Kaffee</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>When did you drink it?</ion-label>
      <ion-datetime name="blub" [(ngModel)]="date" displayFormat="HH:mm A" pickerFormat="HH mm A" (ionChange)="getTime();"></ion-datetime>
    </ion-item>


    <ion-item>
      <ion-label floating>How much did you drink? (in ml)</ion-label>
      <ion-input name="dosis" [(ngModel)]="dosis" type="text"></ion-input>
    </ion-item>
      <button ion-button class="submitbutton" type="submit" (click)="submit()">Submit</button>
    </form>
  </ion-list>

</ion-content>
