page-stats {
    ion-slides {
        height: auto;
    }
    ion-slide {
        align-items: flex-start !important;
        padding-top: 20px;
        h3 {
            color: darkslategray;
            float: left;
            padding-left: 8px;
        }
        ion-card-content {
            h5 {
                color: darkslategray;
            }
            hr {
                margin: {
                    top: 25px;
                    bottom: 15px;
                }
            }
            ion-icon {
                font-size: 26px;
                color: #D2D2D2;
                &:hover {
                    color: #A19C9C;
                }
            }
        }
    }
    .ios,
    .md {
        page-home {
            .scroll-content {
                background-color: map-get($colors, light);
            }
            ion-card-header {
                font-weight: bold;
            }
        }
    }
}