<ion-header>
    <ion-navbar>
        <ion-title>
            Statistics
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding overflow-scroll="true">
    <h2>Your recent progress</h2>
    <hr>
    <ion-slides pager>

        <ion-slide>
            <h3>Dosis Development</h3>
            <ion-card>
                <ion-card-header>
                    Line Chart
                </ion-card-header>
                <ion-card-content>
                    <canvas #lineCanvas></canvas>
                    <hr>
                    <h5> Share </h5>
                    <ion-grid>
                        <ion-row>
                            <ion-col col-3>
                                <ion-icon name="logo-twitter" (click)='shareTwitter()'></ion-icon>
                            </ion-col>
                            <ion-col col-3>
                                <ion-icon name="logo-facebook" (click)='shareTwitter()'></ion-icon>
                            </ion-col>
                            <ion-col col-3>
                                <ion-icon name="logo-instagram" (click)='shareTwitter()'></ion-icon>
                            </ion-col>
                            <ion-col col-3>
                                <ion-icon name="logo-tumblr" (click)='shareTwitter()'></ion-icon>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </ion-slide>

        <ion-slide>
            <h3>Hours of Sleep</h3>
            <ion-card>
                <ion-card-header>
                    Doughnut Chart
                </ion-card-header>
                <ion-card-content>
                    <canvas #doughnutCanvas></canvas>
                    <hr>
                    <h5> Share </h5>
                    <ion-grid>
                        <ion-row>
                            <ion-col col-3>
                                <ion-icon name="logo-twitter" (click)='shareTwitter()'></ion-icon>
                            </ion-col>
                            <ion-col col-3>
                                <ion-icon name="logo-facebook" (click)='shareTwitter()'></ion-icon>
                            </ion-col>
                            <ion-col col-3>
                                <ion-icon name="logo-instagram" (click)='shareTwitter()'></ion-icon>
                            </ion-col>
                            <ion-col col-3>
                                <ion-icon name="logo-tumblr" (click)='shareTwitter()'></ion-icon>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </ion-slide>


        <ion-slide>
            <h3>Consumed coffein</h3>
            <ion-card>
                <ion-card-header>
                    Bar Chart
                </ion-card-header>
                <ion-card-content>
                    <canvas #barCanvas></canvas>
                    <hr>
                    <h5> Share </h5>
                    <ion-grid>
                        <ion-row>
                            <ion-col col-3>
                                <ion-icon name="logo-twitter" (click)='shareTwitter()'></ion-icon>
                            </ion-col>
                            <ion-col col-3>
                                <ion-icon name="logo-facebook" (click)='shareTwitter()'></ion-icon>
                            </ion-col>
                            <ion-col col-3>
                                <ion-icon name="logo-instagram" (click)='shareTwitter()'></ion-icon>
                            </ion-col>
                            <ion-col col-3>
                                <ion-icon name="logo-tumblr" (click)='shareTwitter()'></ion-icon>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </ion-slide>



    </ion-slides>


</ion-content>